<div id='matchup' ng-controller='MatchupController'> 
	<div class='movieContainer' ng-click='declareWinner(inPlay[0], inPlay[1])'>
		<h1>{{data[inPlay[0]].title}}</h1>
		<img src={{data[inPlay[0]].imgUrl}} />
	</div>

	<div class='movieContainer' ng-click='declareWinner(inPlay[1], inPlay[0])'>
		<h1>{{data[inPlay[1]].title}}</h1>
		<img src={{data[inPlay[1]].imgUrl}} />
	</div>
	<br style='clear:both'>
	<div id='matchupFooter' ng-click='fetch()'>
		<h2>Rankings</h2>
		<ul>
			<li ng-repeat='obj in data | orderBy:"score":"reverse"'>
				{{obj.title}}: {{obj.score}}
			</li>
		</ul>
	</div>
</div>